@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background: linear-gradient(45deg, #70002e, #ed8b00);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav {
  background: #70002e;
  padding: 0.5em;
  text-align: left; /* Align the entire nav to the left */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav a {
  display: inline-table; /* Display categories in a row */
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left; /* Align the text within each link to the left */
}

nav a:hover {
  background-color: #ed8b00;
}

/* Media query for larger screens */
@media only screen and (min-width: 769px) {
  nav {
    text-align: center; /* Center the categories for larger screens */
  }
}

main {
  padding: 1em;
}

.intro-section {
  text-align: center;
  margin-bottom: 2em;
}

.intro-section img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}
header img {
  max-width: 40%; /* Set a smaller max-width for the slogan image */
  height: auto;
}
h2 {
  color: #70002e;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em; /* Adjust the font size */
  transition: color 0.3s ease, font-size 0.3s ease;
}

h2:hover {
  color: #ed8b00; /* Hover color */
  font-size: 1.7em; /* Hover font size */
}
p {
  line-height: 1.6;
  margin-bottom: 1em;
  color: #333;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

p:hover {
  background-color: #ed8b00;
  color: white;
}

img,
video {
  max-width: 60%;
  height: auto;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.selected-category {
  border: 2px solid #70002e;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .intro-section img {
    border-radius: 0;
  }
}
#content {
  text-align: center;
}

/* Style for video titles */
#content h3 {
  font-size: 1.5em;
  margin-top: 10px;
  color: #70002e; /* Set the color to #70002e */
}

/* Style for video containers */
#content div {
  margin-bottom: 20px;
}
.youtube-container {
  position: relative;
  width: 100%; /* Adjust container width to fill the screen */
  height: 0;
  padding-bottom: 56.25%; /* Standard 16:9 aspect ratio for responsive videos */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 15px;
}

.youtube-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 15px;
}
/* Style for larger screens */
@media only screen and (min-width: 769px) {
  .youtube-container {
    width: 60%; /* Adjust container width for larger screens */
    padding-bottom: 40%; /* Adjust padding for 16:9 aspect ratio */
  }
}

/* Style for smaller screens (including mobile) */
@media only screen and (max-width: 768px) {
  .youtube-container {
    width: 100%; /* Full width on smaller screens */
    height: 100%;
    padding-bottom: 75%; /* Adjust this value for the desired aspect ratio and size */
  }
}
.griz-logo {
  position: absolute;
  top: 10px; /* Adjust this value for the desired vertical position */
  left: 10px; /* Adjust this value for the desired horizontal position */
  max-width: 100px; /* Set the maximum width of the logo as needed */
}
@media only screen and (max-width: 600px) {
  .griz-logo {
    max-width: 50px; /* Adjust the size for smaller screens */
  }
}
.scroll-arrow {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 13px;
  color: whitesmoke; /* Arrow color */
  background-color: #70002e; /* Background color */
  border: none;
  padding: 10px;
  border-radius: 40%; /* Smaller border-radius value */
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease;
}

.scroll-arrow:hover {
  background-color: #ed8b00; /* Hover background color */
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 50px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Password Prompt Styling */
.password-prompt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 40px; /* Increase padding for a bigger box */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Password Prompt Text Styling */
.password-prompt p {
  font-size: 18px;
  background-color: #70002e;
  color: whitesmoke;
}

/* Form Styling */
.password-prompt form {
  margin-top: 20px;
}

/* Password Input Field Styling */
#passwordInput {
  padding: 10px; /* Increase padding for input */
  margin-right: 8px;
  background-color: whitesmoke;
  color: #70002e;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Password Input Field Hover Effect */
#passwordInput:hover {
  background-color: #ed8b00;
}

/* Password Button Styling */
#passwordButton {
  padding: 12px 24px; /* Increase padding for button */
  background-color: #70002e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Password Button Hover Effect */
#passwordButton:hover {
  background-color: #ed8b00;
}

/* Responsive Styling */
@media (max-width: 600px) {
  .password-prompt {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  #passwordInput,
  #passwordButton {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }

  #passwordButton {
    margin-top: 24px; /* Add more top margin to the button */
  }
}
